*{
    padding: 0px;
    margin:0px;
}

body{
    background-color: #5F9EA0;
}

.logincontainer{
    width: 100vw;
    height: 100vh;
    max-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.loginform{
    max-width: 300px;
    max-height: 300px;
    background: #008B8B;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.form-group input{
    padding: 10px;
    margin:  10px;
    border-radius: 4px;
    border: 1px cadetblue;
}

.form-group button{
    padding: 10px;
    border-radius: 5px;
    border: 1px cadetblue;
    
}

.copyright{
    width: 100%;
    text-align: center;
    color: #ffffff;
}